<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Nanoseconds XXXXX</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="copyright" href="http://profile.kcrt.net/" />
	<link rev="made" href="http://profile.kcrt.net/" />
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="index" href="/">

	<link rel="stylesheet" href="http://kcrt.net/nano.css">

</head>
<body class="serious">
	<header id="header">
		<hgroup>
			<h1><a href="/">Nanoseconds XXXX</a></h1>
			<h3>XXXX site by kcrt</h3>
		</hgroup>
		<nav>
			<ul>
				<li><a href="/">GlobalNavgation</a></li>
				<li><a href="/">GlobalNavgation</a></li>
				<li><a href="/">GlobalNavgation</a></li>
			</ul>
		</nav>
	</header>
	<div id="contents">

		<section>
			<h2>Section Title</h2>
			<div>information goes here</div>
		</section>

	</div>

	<footer id="footer">
		Feel free to link to my site!<br />
		<a href="http://www.kcrt.net/" title="Nanoseconds Hunter"><img src="http://www.kcrt.net/banner.png" alt="Nanoseconds Hunter" width="200" height="50" border="0" /></a> By <a href="http://www.kcrt.net/profile.html">kcrt(K.Takahashi;高橋亨平)</a>
	</footer>

</body>
</html>
